@page
@model WebApplicationRazorNetCoreTreinamento.Pages.CepPages.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebApplicationRazorNetCoreTreinamento.Models.Cep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep.Uf)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Cep.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
